In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
filename = "3b01bcb8-0b14-4abf-b6f2-c1bfd384ba69.csv"

In [10]:
# load the data
data = pd.read_csv(
    filename, sep=','
)

data.shape

(3290, 1)

In [11]:
data.head()

  country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0  India,Andhra_Pradesh,Amaravati,"Secretariat, A...
1  India,Andhra_Pradesh,Amaravati,"Secretariat, A...
2  India,Andhra_Pradesh,Anantapur,"Gulzarpet, Ana...
3  India,Andhra_Pradesh,Anantapur,"Gulzarpet, Ana...
4  India,Andhra_Pradesh,Chittoor,"Gangineni Cheru...